<h1>Stops</h1>

<p><%= link_to 'Add a New Stop', new_stop_url %></p>

<table>
  <thead>
    <tr>
      <th>Load</th>
      <th>Stop type</th>
      <th>Stop sequence</th>
      <th>Stop name</th>
      <th>Stop address</th>
      <th>Stop city</th>
      <th>Stop state</th>
      <th>Stop country</th>
      <th>Stop postal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @stops.each do |stop| %>
    <tr>
      <td><%= stop.load_id %></td>
      <td><%= stop.stop_type %></td>
      <td><%= stop.stop_sequence %></td>
      <td><%= stop.stop_name %></td>
      <td><%= stop.stop_address %></td>
      <td><%= stop.stop_city %></td>
      <td><%= stop.stop_state %></td>
      <td><%= stop.stop_country %></td>
      <td><%= stop.stop_postal %></td>
  
      <td><%= link_to 'Show', stop_url(stop) %></td>
      <td><%= link_to 'Edit', edit_stop_url(stop) %></td>
      <td><%= link_to 'Destroy', stop_url(stop), method: 'delete', data: { confirm: "Do you really want to delete this stop?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

