<h1>Add Load Stops </h1>


<%= form_tag( load_stops_url(@the_load.id), method: 'post') do %>


  <div>
    <%= label_tag :load_id %><br />
    <%= text_field_tag :load_id,@stop.load.bill_of_lading %>
  </div>

  <div>
    <%= label_tag :stop_type %><br />
    <%= text_field_tag :stop_type %>
  </div>

  <div>
    <%= label_tag :stop_sequence %><br />
    <%= number_field_tag :stop_sequence %>
  </div>

  <div>
    <%= label_tag :stop_name %><br />
    <%= text_field_tag :stop_name %>
  </div>

  <div>
    <%= label_tag :stop_address %><br />
    <%= text_field_tag :stop_address %>
  </div>

  <div>
    <%= label_tag :stop_city %><br />
    <%= text_field_tag :stop_city %>
  </div>

  <div>
    <%= label_tag :stop_state %><br />
    <%= text_field_tag :stop_state %>
  </div>

  <div>
    <%= label_tag :stop_country %><br />
    <%= text_field_tag :stop_country %>
  </div>

  <div>
    <%= label_tag :stop_postal %><br />
    <%= number_field_tag :stop_postal %>
  </div>

  <div>
    <%= submit_tag "Save and Add Stop" %>
  </div>
  <div>
    <%= submit_tag "Done" %>
  </div>


  <% if @stop.errors.any? %>
  <ul>
    <% @stop.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<% end %>

