<h1>Stops for Load ID #<%= @stop.load_id %></h1>

<h2>Stop #<%= @stop.id %></h2>

<p>
  <b>Load:</b>
  <%= @stop.load_id %>
</p>

<p>
  <b>Stop type:</b>
  <%= @stop.stop_type %>
</p>

<p>
  <b>Stop sequence:</b>
  <%= @stop.stop_sequence %>
</p>

<p>
  <b>Stop name:</b>
  <%= @stop.stop_name %>
</p>

<p>
  <b>Stop address:</b>
  <%= @stop.stop_address %>
</p>

<p>
  <b>Stop city:</b>
  <%= @stop.stop_city %>
</p>

<p>
  <b>Stop state:</b>
  <%= @stop.stop_state %>
</p>

<p>
  <b>Stop country:</b>
  <%= @stop.stop_country %>
</p>

<p>
  <b>Stop postal:</b>
  <%= @stop.stop_postal %>
</p>



