<h1>Editing Load #<%= @load.id %></h1>


<%= form_tag(load_url(@load), method: 'put') do %>

  <div>
    <%= label_tag :bill_of_lading %><br />
    <%= text_field_tag :bill_of_lading, @load.bill_of_lading %>
  </div>

  <div>
    <%= label_tag :carrier_id %><br />
    <%= text_field_tag :carrier_id, @load.carrier_id %>
  </div>

  <div>
    <%= label_tag :vendor_id %><br />
    <%= text_field_tag :vendor_id, @load.vendor_id %>
  </div>

  <div>
    <%= label_tag :shipper_id %><br />
    <%= text_field_tag :shipper_id, @load.shipper_id %>
  </div>

  <div>
    <%= label_tag :equipment_type %><br />
    <%= text_field_tag :equipment_type, @load.equipment_type %>
  </div>

  <div>
    <%= label_tag :inco_terms %><br />
    <%= text_field_tag :inco_terms, @load.inco_terms %>
  </div>

  <div>
    <%= label_tag :freight_terms %><br />
    <%= text_field_tag :freight_terms, @load.freight_terms %>
  </div>

  <div>
    <%= label_tag :mode %><br />
    <%= text_field_tag :mode, @load.mode %>
  </div>


  <div>
    <%= submit_tag "Update Load" %>
  </div>

<% end %>

<h2>Load Stops</h2>

<p><%= link_to 'Add a New Stop', new_load_stop_url(@load.id) %></p>

<table>
  <thead>
    <tr>
      <th>Load</th>
      <th>Stop type</th>
      <th>Stop sequence</th>
      <th>Stop name</th>
      <th>Stop address</th>
      <th>Stop city</th>
      <th>Stop state</th>
      <th>Stop country</th>
      <th>Stop postal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @load.stops.each do |stop| %>
    <tr>
      <td><%= stop.load_id %></td>
      <td><%= stop.stop_type %></td>
      <td><%= stop.stop_sequence %></td>
      <td><%= stop.stop_name %></td>
      <td><%= stop.stop_address %></td>
      <td><%= stop.stop_city %></td>
      <td><%= stop.stop_state %></td>
      <td><%= stop.stop_country %></td>
      <td><%= stop.stop_postal %></td>

      <td><%= link_to 'Show', load_stop_url(@load.id, stop.id) %></td>
      <td><%= link_to 'Edit', edit_load_stop_url(@load.id, stop.id) %></td>
      <td><%= link_to 'Destroy', [stop.load, stop], method: 'delete', data: { confirm: "Do you really want to delete this stop?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>
