<!DOCTYPE html>
<html>
<head>
  <title>Cloudqwest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session["user_id"].present? %>
Hello, <%= User.find_by_id(session["user_id"]).first_name %>!

  <header>
    <h1>CloudQwest - A Collaborative Logistics Platform</h1>

    <nav>
      <%= link_to "Load List", '/loads' %> |
      <%= link_to "Vendor List", '/vendors' %> |
      <%= link_to "Carrier List", '/carriers' %> |
      <%= link_to "Shipper List", '/shippers' %> |
      <%= link_to "Sign Out", "/logout" %> |
      <%= link_to "Users", "/users" %>
  </header>

<% else %>
        <div class="signup">
        <%= link_to "Sign Up", '/users/new' %>
        </div>
        <div class="login">
        <%= link_to "Login", '/login' %>
      </div>
      <% end %>

      <div class="notice"><%= notice %></div>

<%= yield %>

</body>
</html>
