<!DOCTYPE html>
<html>
<head>
  <title>Cloudqwest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session["user_id"].present? %>

  <header>
    <h1>CloudQwest - A Collaborative Logistics Platform</h1>

    <nav>
      <%= link_to "Load List", '/loads', class: "btn btn-large btn-primary" %> |
      <%= link_to "Vendor List", '/vendors', class: "btn btn-large btn-primary" %> |
      <%= link_to "Carrier List", '/carriers', class: "btn btn-large btn-primary" %> |
      <%= link_to "Shipper List", '/shippers', class: "btn btn-large btn-primary" %> |
      <%= link_to "Sign Out", "/logout", class: "btn btn-large btn-primary" %> |
      <%= link_to "Users", "/users", class: "btn btn-large btn-primary" %>
  </header>

<% else %>
        <%= link_to "Sign Up", '/users/new', class: "btn btn-large btn-primary" %>
        <%= link_to "Login", '/login', class: "btn btn-large btn-primary" %>
      <% end %>

      <div class="notice"><%= notice %></div>

<%= yield %>

</body>
</html>
