<!DOCTYPE html>
<html>
<head>
  <title>Cloudqwest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>CloudQwest - A Collaborative Logistics Platform</h1>
    <nav>
      <%= link_to "Load List", '/loads' %> |
      <%= link_to "Vendor List", '/vendors' %> |
      <%= link_to "Carrier List", '/carriers' %> |
      <%= link_to "Shipper List", '/shippers' %>
  </header>


<%= yield %>

</body>
</html>
